<div style="
    font-size: 15px; 
    color: #221E29;
    background-image: linear-gradient(rgba(127, 37, 132,.05), rgba(127, 37, 132,.02));
    width: 500px;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    border-radius: 7px;
    box-shadow: 0px 0px 10px #ddd;
    padding-bottom: 3rem;
    padding-top: 1rem;
    font-family: Trebuchet MS;">
        <p style="
            font-weight: 600;
            font-size: 1.5rem;
            text-align: center;
            color: #351249;"><span class="toName">Reset Password</span>
        </p>
        <p style="
            line-height: 1.6;
            font-size: 14px;
            color: #777;
            text-align: center;
             margin-top: 0rem;">Here is your Reset Password link<br> Click on below button to reset your password.
        </p>
        <div style="padding: 10px;text-align: center;">
        <a href="<%= pass_url %>" target="_blank" style="
                background-color: #7F2584;
                border-radius: 50px;
                border: none;
                color: #fff;
                cursor: pointer;
                text-decoration: none;
                display: inline-block;
                font-size: 12px;
                font-weight: 600;
                line-height: 1;
                padding: 1em 2em;
                text-align: center;
                white-space: nowrap;
        ">Reset Password</a>
    </div>
</div>